body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    overflow: hidden;
    background-color: rgb(243, 243, 248);
  }
  
.topnav {
    overflow: hidden;
    background-color: #0C131F;
    display: flex;
    justify-content: center;
}
  
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border: 1px solid transparent;
}

.topnav a:hover {
    color: #8de8fe;
    border-bottom: solid 1px #8de8fe;
}

svg {
    fill:white;
}

.container-reservation{
    margin: 0;
    padding:0;
    width: 100%;
}

.container-reservation-content{
    height: fit-content;
    background-color: #0C131F;
    color: white;
    border-radius: 30px;
    padding: 40px;
    width: 75vw;
}

.h3-reservation {
    margin-bottom: 10px;
    text-align: center;
}

.input-reservation {
    border-radius: 50px;
    height: 3em;
    padding-left: 30px;
}

.blur {
    filter: blur(10px);
}

.un-blur {
    filter: blur(0px);
}

.input-reservation {
    width: 60rem; 
    box-sizing: border-box;
    padding: 0 10px;
    z-index: 2;
}

#input-reservation {
    display: flex;
    justify-content: center;
}

.double-border-input {
    border-color: black;
    box-shadow: 0 0 0px 1px white;
}

.overlay.blur {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(243, 243, 248, 0.5);
    z-index: 1;
}

.stations-container {
    border-radius: 10px;
    background-color: white;
    overflow-y:auto; 
    max-height: 80%;
    position: fixed;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    width: 600px;
    display: none !important;
    padding-top: 30px;
    scrollbar-color: #157089 transparent;
}

::-webkit-scrollbar {
    height: 12px;
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: #157089;
    -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
}

.stations-container ul {
    width: 100%;
}

.stations-container li {
    border: none;
    cursor: pointer;
    display: block;
}

#stations-caption {
    margin-left: 10px;
}

.stations-container svg {
    width: 32px;
    height: auto;
    fill: black;
}

span.station {
    font-weight: bold;
}

span.city {
    color: grey;
}